@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';

@include b(vehicle-input) {
  display: flex;

  @keyframes bt-vehicle-input-blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

  @include e(item) {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;

    &:first-child {
      margin-left: 0;
    }

    // 第8位新能源位
    &.is-show-pointer:nth-child(8) {
      border-style: dashed;
      border-color: $-vehicle-input-energy-border;
      background-color: $-vehicle-input-energy-bg;
      color: $-vehicle-input-energy-color;

      &.is-cur {
        border-color: $-color-theme;
      }
    }

    // 第2位后的分隔圆点
    &.is-show-pointer:nth-child(2) {
      position: relative;
      margin-right: 5px;

      &::after {
        content: ' ';
        position: absolute;
        right: -12px;
        top: calc(50% - 3px);
        display: flex;
        align-items: center;
        width: 6px;
        height: 6px;
        background-color: #ccc;
        border-radius: 100%;
      }
    }

    &.is-cur {
      border-color: $-color-theme;
      background-color: $-vehicle-input-active-bg;
      transition: 0.1s;
    }
  }

  // 等比容器
  @include e(square) {
    width: 100%;
    height: 0;
    padding-bottom: 120%;
    position: relative;
  }

  @include e(cell) {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &.is-cursor::after {
      color: $-color-theme;
      content: '|';
      animation: bt-vehicle-input-blink 1s infinite;
    }
  }
}
